html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


h1 {
    color: #333;
}

.btn {
    background-color: #258cfb;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #007bff;
}

#count {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.list {
    list-style-type: none;
    padding-left: 0;
    text-align: left
}

p {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.list li {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 3px;
}