@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to cat facts</h1>

    <form method="get">
        <label for="count">Choose a umber of facts:</label>
        <input type="number" id="count" name="count" min="1" value="1" />
        <br />
        <button type = "submit" class="btn btn-primary">Get a Fact</button>
    </form>

    @if (Model.Facts.Count > 0 && Model.Facts.Count < 2)
    {
        <br />
        <p>Fact got saved to facts.txt:</p>
        <p>
            @Model.Facts[0]
            <button class="btn btn-sm btn-info" onclick="copyToClipboard('@Model.Facts[0]')">Copy</button>
        </p>
    }
    else if (Model.Facts.Count > 1)
    {
        <br />
        <ol class="list">
            @foreach (var fact in Model.Facts)
            {
                <li>
                    @fact
                    <button class="btn btn-sm btn-info" onclick="copyToClipboard('@fact')">Copy</button>
                </li>
            }
        </ol>
    }
</div>

@section Scripts {
    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function () {
                alert('Fact copied to clipboard!');
            }, function () {
                alert('Failed to copy fact.');
            });
        }
    </script>
}